<section class="pt-40 pb-20 px-4" style="background: var(--bg); color: var(--fg);">
	<div class="max-w-6xl mx-auto">
		<h1 class="display-font text-6xl md:text-8xl font-bold leading-none mb-20 text-center" style="color: var(--fg);">
			SCHÖN <br> DICH <br> KENNZULERNEN
		</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-16 items-start">
			<div>
				<img src="/images/profilePic.png" class="h-auto rounded mb-8 border border-black" width="75%" height="auto" loading="lazy" alt="Profilbild">
			</div>
			<div class="text-xl md:text-2xl font-light leading-relaxed">
				<p class="mb-8">
					Ich bin Karina, eine Programmiererin, die immer nach etwas Neuem und Spannendem sucht.
					Seit mittlerweile fast 5 Jahren bin ich als Softwareentwicklerin tätig und habe in dieser Zeit
					viel gelernt. 
				</p>
				<p>
					Neben meiner beruflichen Tätigkeit habe ich auch an vielen
					vielen Hobby-Projekten gearbeitet, von kleinen Websites bis hin zu komplexen Anwendungen.
					Ich liebe es, neue Technologien zu lernen und kreative Lösungen für komplexe Probleme zu finden, 
					was sich in den Projekten widerspiegelt, die ich auch auf 
					<a routerLink="/projects" class="underline underline-offset-4 text-blue-600 hover:text-blue-800">diesem Portfolio</a>
					präsentiere. 
				</p>
			</div>
			<div>
				<div class="mb-4 text-gray-400 text-l uppercase tracking-widest font-bold">Hard Skills</div>
				<div class="grid grid-cols-2 md:grid-cols-2 gap-8 text-sm uppercase tracking-widest font-bold border-t border-black pt-8">
					<div>
						<div class="mb-4 text-gray-400">Programmiersprachen</div>
						<ul class="space-y-2">
							<li>Delphi / Pascal</li>
							<li>Python</li>
							<li>Kotlin</li>
							<li>Java</li>
						</ul>
					</div>
					<div>
						<div class="mb-4 text-gray-400">Frameworks</div>
						<ul class="space-y-2">
							<li>Mobile</li>
							<ul class="space-y-2 ml-4">
								<li>Jetpack Compose</li>
								<li>Room</li>
							</ul>
							<li>Web</li>
							<ul class="space-y-2 ml-4">
								<li>Angular</li>
							</ul>
						</ul>
					</div>
					<div>
						<div class="mb-4 text-gray-400">Datenbanken</div>
						<ul class="space-y-2">
							<li>Microsoft SQL Server</li>
							<li>MySQL</li>
							<li>PostgreSQL</li>
						</ul>
					</div>
					<div>
						<div class="mb-4 text-gray-400">Tools</div>
						<ul class="space-y-2">
							<li>TortoiseSVN</li>
							<li>Git</li>
							<li>Jira</li>
						</ul>
					</div>
					<div></div>
					<div>
						<div class="mb-4 text-gray-400">Sprachen</div>
						<ul class="space-y-2">
							<li>Deutsch</li>
							<li>Englisch</li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<div class="mb-4 text-gray-400 text-l uppercase tracking-widest font-bold">Soft Skills</div>
				<div class="grid grid-cols-2 md:grid-cols-2 gap-8 text-sm uppercase tracking-widest font-bold border-t border-black pt-8">
					<div>
						<div class="flex items-center gap-4 mb-4">
							<svg viewBox="0 0 64 64" width="64" height="64" class="rounded-full bg-[#e3e3e3] md:w-1/6" xmlns="http://www.w3.org/2000/svg">
								<circle cx="32" cy="32" r="30" fill="#e3e3e3" />
								<image href="https://www.svgrepo.com/show/433924/board.svg" alt="Agiles Arbeiten Icon" x="8" y="8" width="48" height="48" />
							</svg>
							<div class="md:w-5/6">
								<div class="mb-2 text-gray-400">Agiles Arbeiten</div>
								<ul class="space-y-2">
									<li>Scrum</li>
									<li>Kanban</li>
								</ul>
							</div>
						</div>
					</div>
					<div>
						<div class="flex items-center gap-4 mb-4">
							<svg viewBox="0 0 64 64" width="64" height="64" class="rounded-full bg-[#e3e3e3] md:w-1/6" xmlns="http://www.w3.org/2000/svg">
								<circle cx="32" cy="32" r="30" fill="#e3e3e3" />
								<image href="https://www.svgrepo.com/show/448490/learn.svg" alt="Lernbereitschaft Icon" x="8" y="8" width="48" height="48" />
							</svg>
							<div class="md:w-5/6">
								<div class="mb-2 text-gray-400">Lernbereitschaft</div>
								<ul class="space-y-2">
									<li>Neue Technologien und Frameworks</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>